/*
-----------------------------------------------------------------
Primary navbar
-----------------------------------------------------------------
*/

.navbar-collapse { /*Navbar padding*/
    padding-right: 15px;
    padding-left: 0px;
}
.navbar.navbar-default {
	/*background-image: url("/img/primary_nav_background.png"); */
}

.container-fluid.my-primary-navbar { /*Primary navbar background*/
	background-color: #d8232a;
	border-bottom: 3px solid #c5264a;
	padding-top: 3px;
	padding-right: 0;
    }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover { /*Text color on hover*/
	color: #fff;
}

.nav.navbar-nav.my-primary-nav li:hover, .nav.navbar-nav.navbar-right.pref-lang-drop li:hover { /*Primary navbar tab background on hover*/
	background-color: #c5264a;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #c5264a;
}

.nav.navbar-nav.my-primary-nav li a {
	color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a { /*Active navbar tab background*/
	background-image: none;
	background-color: #c5264a;
}

.glyphicon.glyphicon-home { /*Home page icon*/
	padding-right: 10px;
}

.text-uppercase.my-pref-lang-dropdown { /*Preferred language dropdown on primary nav*/
    margin-bottom: 0;
    color: #fff;
    font-size: 1.15rem
}

.glyphicon.glyphicon-menu-down { /*Preferred language dropdown icon*/
	color: #fff;
	font-size: 1rem;
	padding-left: 10px;
}

/*
-----------------------------------------------------------------
Secondary navbar
-----------------------------------------------------------------
*/

.imdb-txt {
	color: #f5de50;
}

.navbar.navbar-default.my-secondary-navbar > .container-fluid.my-sec-nav-cont {
	background-color: #363636;
}

.nav.navbar-nav li:hover { /*Secondary navbar tab background on hover*/
    background-color: #4a4a4a;
}

.navbar.navbar-default.my-secondary-navbar a { /*Text on tabs*/
	padding: 7px;
}

.navbar.navbar-default.my-secondary-navbar p { /*Text on tabs*/
	margin-bottom: 0;
	font-weight: bolder;
	color: #fff;
	text-shadow: none;
	background-color: #4a4a4a;
	padding: 8px;
}

.badge {
	margin-left: 7px;
	background-color: #cd243c;
}
